<p style="color: green"><%= notice %></p>

<h2>username:</h2>
<%= @user.username %>

<p>
  Has made <%= @user.ratings.count %> ratings, average rating <%= @user.average_rating %>
</p>

<ul>
  <% @user.ratings.each do |rating| %>
    <li> 
      <%= render rating %> <%= button_to 'delete', rating, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } } %> 
    </li>
  <% end %>
</ul>


<%= link_to "New rating", new_rating_path %>


<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
